/* Your SCSS here. */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Titillium Web';
}

section {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

// .yellow {
//     background: yellow;
// }

/* -------------- HEADER ------------- */
#header {
    height: 92vh;
    position: relative;
    background-image: url('../assets/chicago2.jpg');
    background-size: cover;
}

#luke {
    height: auto;
    width: auto;
    max-width: 25%;
    max-height: 25%;
    clip-path: circle();
}

.transparent-rectangle {
    width: 75%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 50px;
    border-radius: 25px;
}
.intro-content {
    margin: 0 auto;
    width: auto;
    padding-top: 10px;
    text-align: center;

    p {
        margin-bottom: 0;
        font-size: 20px;
        font-family: 'Titillium Web';
    }

    .bold {
        font-size: 100px;
        font-weight: bold;
        margin: 0;
        font-family: 'Titillium Web';
    }
}


/* -------------- NAV ------------- */

nav {
    background-color: rgb(19, 41, 75);
    top: 0;
    width: 100%;
    z-index: 1; // image was going over navbar
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    color: rgb(232, 74, 39);
    font-size: 30px;
    text-decoration: none;
    transition: all 0.4s;
    font-family: 'Titillium Web';
}

nav ul li img {
    height: 96px;
    transition: height 0.4s;
}

nav.fixed {
    position: fixed;
    right: 0;
}
nav.fixed ul li a {
    font-size: 24px;
}
nav.fixed ul li img {
    height: 36px;
}

.active {
    text-decoration: underline;
}

/* -------------- ABOUT ------------- */
#about {
    width: 100%;
    height: 50vh;
    padding: 75px 0;
    background-image: url('../assets/foellinger.jpg');
    background-position-x: right;
    background-size: cover;
    background-attachment: fixed;
}

.about-container {
    width: 100%;
    padding: 75px 0;
    position: relative;
}

.row {
    width: 75%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 50px;
    border-radius: 25px;
    background:rgb(232, 74, 39);
}

.column {
    float: left;
    text-align: center;
    width: 33%;

    img {
        max-width: 200px;
    }
}

.about-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.luke-info {
    margin: 10px;
}

.info-piece {
    margin: 10px 0;
    font-weight: bold;

    span {
        font-weight: normal;
    }
}

.interest-piece {
    margin: 10px 0;
}

/* -------------- EXPERIENCE ------------- */
#experience {
    width: 100%;
    height: auto;
    padding: 75px 0;
}
.section-title {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 2.250em;
    font-weight: 300;
    font-family: 'Titillium Web';
    color: #0f1025;
    text-transform: uppercase;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.line {
    display: block;
    width: 300px;
    height: 3px;
    background: #ccc;
    margin-bottom: 20px;
}

// experience container
.experience-container {
    width: 75%;
    border: 3px solid black;
    margin: 20px auto;
    padding: 20px; 

}
.logo {
    display: inline-block;
    vertical-align: top;
    max-width: 150px;
    max-height: 300px;
    margin: 20px 5px;
    background: white;
}
.content {
    display: inline-block;
    vertical-align: top;
}

.title .sub-title .description {
    margin: 0;
    padding: 3px 10px 3px 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.sub-title {
    font-weight: bold;
    color: #3f3f3f;
}
.italics {
    font-style: italic;
}

/* -------------- SKILLS ------------- */
#skills {
    padding: 75px 0;
    height: auto;
}
.white {
    color: white;
}

.carousel-section {
    // margin: 1rem;
    position: relative;
    overflow: hidden;
    height: 30vh;
    width: 100%;
    background-image: url('../assets/foellinger.jpg');
    background-position-x: right;
    background-size: cover;
    background-attachment: fixed;
}
   
.carousel-container {
    height: 100%;
    // width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    scroll-behavior: smooth;
}
   
.carousel-slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    img {
        height: 100px;
        margin: 50px;
        border: none;
        vertical-align: middle;
    }
}

.carousel-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    opacity: 0.5;
}
   
.carousel-arrow:hover, .carousel-arrow:focus {
    opacity: 1;
    cursor: pointer;
}

#carousel-arrow-left {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#carousel-arrow-right {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

/* -------------- PROJECTS ------------- */
#projects {
    padding: 75px 0;
    height: auto;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 0 16px;
}
.images img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s all ease;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}
.modalContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalImg {
  width: 80%;
  max-width: 700px;
}
.modalTxt {
  margin-top: 1em;
}
.close {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 45px;
  cursor: pointer;
}
.images img:hover {
    transform: scale(0.9);
}
.modal.appear {
  opacity: 1;
  pointer-events: all;
}
.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* -------------- FOOTER ------------- */
footer {
    position: absolute;
    background:rgb(19, 41, 75);
    width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: white;
    }
    p {
        max-width: 500px;
        line-height: 28px;
        font-size: 14px;
        color: white;
    }
    img {
        height: 50pxx;
        width: 50px;
        margin: 10px;
    }
}

